[project]
name = "{{project_name}}"
version = "{{version}}"
description = "{{project_description}}"
authors = [
    { name = "{{author}}", email = "{{email}}" }
]
dependencies = [
    "pydantic>=2.7.1",
    "pydantic-settings>=2.2.1",
    "typer>=0.12.3",
]
readme = "README.md"
requires-python = ">= 3.9"
license = { text = "MIT" }

[project.scripts]
"{{package_name}}" = "{{package_name}}:main"

[build-system]
requires = ["hatchling"]
build-backend = "hatchling.build"

[tool.rye]
managed = true
dev-dependencies = []

[tool.hatch.metadata]
allow-direct-references = true

[tool.hatch.build.targets.wheel]
packages = ["src/{{package_name}}"]
